.headerContainer {
    position: absolute;
    width: 100vw;
    height: 7vh;
    left: 0vw;
    top: 7vh;
    background-image: url("../img/headerBackground.png");
    background-repeat: no-repeat;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.headerOption {
    margin: 0 20px;
    cursor: pointer;
    font-size: 24px;
    color: #A59500;
}

.selectedOption {
    color: white;
}

