.collectionsChampionsContainer {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/CollectionsChampionsBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.champSelect {
    width: 90vw;
    top: 74vh;
    left: 5vw;
    position: absolute;
}

.champTextContainer {
    position: absolute;
    color: white;
    width: 35vw;
    left: 5vw;
    top: 15vh;
    display: block;
}

.champTitle {
    font-size: 48px;
    margin: 5px 0px;
}

.champSlogan {
    font-size: 36px;
    margin: 5px 0px;
}

.champDescription {
    font-size: 16px;
    margin: 5px 0px;
}

.greyButton {
    width: 100%;
    height: 3.5vh;
    background: #3D3D3D;
    margin: 2px 0;
}

.greyButtonsContainer {
    position: absolute;
    top: 60vh;
    left: 5vw;
    width: 15vw;
    margin: 0.5vh 0;
}

.greyButtonsContainerRight{
    position: absolute;
    width: 15vw;
    top: 60vh;
    right: 5vw;
    margin: 0.5vh 0;
}

.blackButton {
    width: 100%;
    height: 3.5vh;
    background: black;
    margin: 2px 0;
    border: 3px solid #3D3D3D;
}

.headerBackground {
    position: absolute;
}