.scroll {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%,0);
    width: 50vw;
}

.scrollText {
    position: absolute;
    top: 94.8%;
    left: 76%;
    margin: 0;
    font-size: 24px;
}